participants = {
  "super-awesome-team" = {
    email = "acornies@gmail.com"
  team = "super-awesome" },
  # "kinda-awesome-team" = {
  #     email= "example@hashicorp.com" }
}

event_github_organization = "tmx-gameday-aug16"
event_hcp_project_id      = "e49658b6-6c98-46c8-88a6-a7d10bcd3645"
event_tfc_organization    = "ender-corp"
event_name                = "gamify-cluster"